<!-- <div class="ui centered"> -->
<div class="ui grid container">
  <div class="row">
    <div class="four wide column"></div>
    <div class="eight wide column">
      <div class="ui card"  style="margin-top: 30%;">
        <div class="image">
          <img class="ui medium image" src="https://semantic-ui.com/images/avatar2/large/elyse.png">
        </div>
        <div class="content">
          <div class="header">{{user.name}}</div>
          <div class="meta">
            <a>{{user.email}}</a>
          </div>
          <div class="description">
            {{user.company.catchPhrase}}
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            {{user.company.name}}
          </span>
          <span>
            <i class="user icon"></i>
            {{user.address.city}}
          </span>
        </div>
      </div>
    </div>
    <div class="four wide column"></div>
  </div>
</div>

<!-- </div> -->